* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #005f6a;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003366;
}

.number {
    background-color: #ff9900;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #005f6a;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcc00;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #008CBA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
